{% extends 'base.html.twig' %}

{% block title %}Detail des Tricks !{% endblock %}

{% block body %}
    <!-- Detail du trick-->

    {% if trick %}
    
        <!-- Trick -->
        <div class="container mt-5">  
            <div class="row justify-content-center mt-5">          
                <div class="col-md-10 col-md-offset-1 mt-5 mb-4"> 
                                
                    <div class="card mt-5">
                        <!-- Image Trick-->
                        <img class="card-img-top" src="{{ asset('uploads/image_user/') }}{{ trick.image|e }}" alt="Card image cap">


                        <!-- Card Body -->
                        <div class="card-body">

                            <!-- Nom Trick / Date Trick / Groupe Trick -->
                            <ul class="list-inline trick-data">
                                <li class="list-inline-item">
                                    <h5 class="card-title">{{ trick.getTitle|e }}</h5>
                                </li> | 

                                <li class="list-inline-item">
                                    Ajouté le {{ trick.dateCreate|date("m/d/Y") }}
                                </li> |      

                                <li class="list-inline-item">
                                    Groupe: {{ trick.groupe|e }}
                                </li>
                            </ul>

                            <hr>
                        
                            <!--************** Image et Vidéo du Trick *************-->
                            <div class="row d-none d-lg-flex load-media">

                                <!-- Image du trick -->
                                <div class="col-lg-6 col-md-12 mb-4">
                                    <img class="card-img-top" src="{{ asset('uploads/image_user/') }}{{ trick.image|e }}" alt="Card image cap">
                                </div> 
                                
                                <!-- Video du trick -->
                                <div class="col-lg-6 col-md-12 mb-4">
                                    <iframe class="w-100 h-100" src="{{ trick.video|e }}"></iframe>
                                </div>                                             
                            </div>  


                            <!-- Bouton Masquer et Afficher les medias-->
                            <div class="text-center">
                                <a href="#" id="loadMedia" class="d-md-block d-lg-none">
                                    <button class="btn btn-outline-secondary">Afficher les médias</button>
                                </a>
                                <a href="#" id="hideMedia" class="d-none d-md-none d-lg-none">
                                    <button class="btn btn-outline-secondary mt-3">Masquer les médias</button>
                                </a>
                            </div>
                                            
                            <hr>

                            <!--************* Description du Trick ************-->
                            <h5 class="card-title">Description</h5>

                            <p class="card-text text-justify"> 
                                {{ trick.getDescription|e }}
                            </p>                                    
                        </div>
                    </div>


                    
                        <!-- Formulaire de creation de commentaire si user connecté OU lien pour s'incrire ou se connecté -->
                        {% if app.user %}
                            <div class="col-md-12 px-0 mb-30">
                                <div class="comments text-center p-3">
                                    <!-- Formulaire de creation de commentaire si user connecté -->
                                    {{ form(comment_form, {'attr': {'class': 'd-flex'}}) }}  
                                </div>
                            </div>
                        {% endif %}
                    
                    <!--************* Partie Commentaire ***********-->
                    <span class="comments-anchor" id="comments-block"></span>

                    <div class="col-md-12 pl-0 pr-0">
                        <div class="comments text-left padDiv mb-30">
                            <div class="entry-comments">
                                <ul class="entry-comments-list list-unstyled">
                                    <span class="comment-anchor" id="10"></span>

                                    

                                    <!--**************** Affichage des commentaires ******************-->
                                    {% if comments %}
                                        {% for comment in comments %}
                                            <li>
                                                <div class="entry-comments-item">
                                                    <!-- Image du user -->
                                                    <img src="{{ asset('uploads/image_profil_user/') }}{{ comment.getUser.imagePath|e }}" class="entry-comments-avatar" alt="TestPseudo">

                                                    <!-- Infos du commentaire -->
                                                    <div class="entry-comments-body">

                                                        <span class="entry-comments-author">{{ comment.getUser.username|e }} {{ comment.getUser.firstname|e }}</span>

                                                        <span class="comment-date">
                                                            {{ comment.getDateCreate|date("m/d/Y") }}

                                                            <!-- Si User connecté + user admin -->
                                                            {% if is_granted("ROLE_ADMIN")  %}
                                                                <a href="/comment/delete/{{comment.id}}" style="color:red;"><i class="fa-solid fa-trash-can"></i></a>
                                                                
                                                                <input type="hidden" value={{comment.id}}/>
                                                            {% endif %}
                                                        </span>

                                                        <p class="comment-content text-justify">{{ comment.getContent|e }}</p>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--************* Fin Partie Commentaire ***********-->  
                </div>     
            </div>           
        </div>
    {% endif %}

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ asset('js/detailjs.js') }}"></script>

{% endblock %}
