{% extends 'base.html.twig' %}

{% block title %}HomeController{% endblock %}

{% block body %}

<h1>Ma Homepage</h1>

<!-- Recuperer les infos de mon user grace aux variables d'environement de Twig (app.)-->
<p>Bienvenu : {{ app.user.username ?? 'utilisateur non connecté' }}</p>

<!-- fonction dump() utilisé grace au bundle vardumper -->
<p>{{ dump(app.user) }}</p>


<!-- Affichage de ma liste de Tricks -->
<ul>
    {% for trick in tricks %}
        <!-- Passer le titre en lien vers la page details du trick à terme -->
        <li>{{ trick.getTitle|e }}</li>
        <!-- Affichage du stylo si connecté -->
        {% if app.user %}
            <li><a href="/edit/{{trick.id}}"><i class="fa-solid fa-pen"></i></a></li>
            <input type="hidden" value={{trick.id}}/>
        {% endif %}
        <!-- Description Trick -->
        <li>{{ trick.getDescription|e }}</li>
    {% endfor %}
</ul>


{% endblock %}
