{% extends 'base.html.twig' %}

{% block title %}HomeController{% endblock %}

{% block body %}

<!-- Grande Image de ma page Home -->

<div>
    <img src="{{ asset('uploads/image_home/home.jpg') }}" class="img-fluid" alt="Responsive image">
    <!--<span><i class="fa-solid fa-arrow-down"></i></span>-->
</div>



<!-- Affichage de ma liste de Tricks -->

    <!-- Creation Trick si user connecté -->
    
    <a class="btn btn-primary" href="/trick/add" style="color: black;">Créer votre Figure</a>
    



    <div class="container">
        <div class="row justify-content-around">
            <!-- Liste de trick existant -->
            {% for trick in tricks %}
     
                <div class="card bg-primary mb-3 col-md-4 p-0" style="max-width: 18rem;">
                    <div class="card-header p-0">

                        <!-- Image Trick -->
                        {% if trick.images.first %}
                            {% set image = trick.images.getValues[0] %}
                            <div>
                                <img src="{{ asset('uploads/image_user/') }}{{ image.name|e }}" alt="" style="width: 100%;height:12rem;">
                            </div>
                        {% endif %}

                    </div>


                    <!-- Body Card + stylo et corbeille -->
                    <div class="card-body d-flex justify-content-between">

                        <!-- Passer l'id et le titre en slug pour une url correcte  -->
                        <a href="{{ path('app_detail', {'slug': trick.slug}) }}">
                            {{ trick.getTitle|e }}
                        </a>

                        <input type="hidden" value={{trick.id}}/>

                        <!-- Affichage du stylo et corbeille si connecté -->
                        
                        <div style="display:flex;">

                            <div style="display:flex;">
                            {% if app.user %}
                                <!-- Passer l'id et le titre en slug pour une url correcte  -->
                                {% if app.user.id == trick.user.id %}
                                

                                    <a href="{{ path('app_edit', {'slug': trick.slug}) }}" class="btn btn-primary">
                                        <i class="fa-solid fa-pen"></i>
                                    </a>
                                    <input type="hidden" value={{trick.id}}/>

                                    <!-- Button trigger modal -->
                                    <button value={{trick.id}} type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{trick.id}}">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                {% endif %}
                            {% endif %}
                        </div>
                            
                        </div>


                        <!--************* Modal **************-->
                        <div class="modal fade" id="exampleModal{{trick.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ete vous sur ?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <a href="/trick/delete/{{trick.id}}" style="margin-left:1rem; color:blue;">Supprimer ce Trick ?</a>
                                    </div>


                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Affichage du message de succès -->
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    

{% endblock %}
